{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage-picture-container" >
        <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
        <h1>Vive la neige!</h1>
        <a href="#cards-container" class="button">↓</a>
    </div>

    <div class="cards-container" id="cards-container">
        {% if app.user %}
            <div id="add-trick-button" class="button">
                <a href="{{ path('app_trick_new')}}">Ajouter une figure</a>
            </div>
        {% endif %}
        {% for trick in tricks %}
            <div id="trick-{{ trick.id }}" class="trick-card">
                {% for medium in trick.media|filter(medium => medium.type == 'picture')|slice(0,1) %}
                    <img src="{{ asset('uploads/media/' ~ medium.path) }}" alt="photo de montagne enneigée">
                {% else %}
                    <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
                {% endfor %}
                <div>
                    <h2>
                        <a href="{{ path('app_trick', { slug: trick.slug, id: trick.id }) }}">{{ trick.name|capitalize }}</a>
                    </h2>
                    {% if app.user %}
                        <div>
                            <a class="button" href="{{ path('app_trick_edit', { slug: trick.slug, id: trick.id }) }}">✏️</a>
                            <a class="button" onclick="return confirm('Êtes-vous certain.e de vouloir supprimer cette figure?');" href="{{ path('app_trick_delete', { slug: trick.slug, id: trick.id }) }}">🗑️</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
