{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage-picture-container" >
        <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
        <h1>Vive la neige!</h1>
    </div>
    <div id="add-trick-button">
        <a href="{{ path('app_trick_new')}}">Ajouter une figure</a>
    </div>
    <div class="cards-container" id="cards-container">
        {% for trick in tricks %}
            <div id="trick-{{ trick.id }}" class="trick-card">
                <img src="{{ trick.media|length ? trick.media[0].path : placeholderPicture }}" alt="photo de montagne enneigée">
                <div>
                    <h2>
                        <a href="{{ path('app_trick', { slug: trick.slug }) }}">{{ trick.name|capitalize }}</a>
                    </h2>
                    <div>
                        <div class="button">
                            <a href="{{ path('app_trick_edit', { slug: trick.slug }) }}">✏️</a>
                        </div>
                        <div class="button">
                            <a href="{{ path('app_trick_delete', { slug: trick.slug }) }}">🗑️</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
