{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage-picture-container" >
        <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
        <h1>Vive la neige!</h1>
    </div>
    <div class="cards-container">
        {% for trick in tricks %}
            <div id="trick-{{ trick.id }}" class="trick-card" data-controller="hello">
                <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
                <div>
                    <turbo-frame id="triiick-{{ trick.id }}">
                        <a href="{{ path('app_trick', { slug: trick.slug }) }}">{{ trick.name|capitalize }}</a>
                        <div>
                            <a href="{{ path('app_trick_edit', { slug: trick.slug }) }}">✏️</a>
                            <button>🗑️</button>
                        </div>
                    </turbo-frame>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
