<div>
    {% if trick.media|length %}
        {% if trick.media[0].type == 'picture' %}
            <img src="{{ asset('uploads/media/' ~ trick.media[0].path) }}" alt="photo de montagne enneigée">
        {% elseif trick.media[0].type == 'video' %}
            <iframe width="560" height="315" src="{{ trick.media[0].path }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {% endif %}
    {% else %}
        <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
    {% endif %}
    </div>
    <div class="other-trick-pictures">
        {% for medium in trick.media|slice(1) %}
            <div>
                {% if medium.type == 'picture' %}
                    <img src="{{ asset('uploads/media/' ~ medium.path) }}" alt="photo de montagne enneigée">
                {% elseif medium.type == 'video' %}
                    <iframe width="560" height="315" src="{{ medium.path }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="trick-infos">
        <h1>{{ trick.name }}</h1>
        {% for group in trick.groups %}
        <p><i>{{ group.name }}</i></p>
        {% endfor %}
        <p>{{ trick.description }}</p>
    </div>