{% extends 'trick/index.html.twig' %}

{% block trickBody %}
    <div id="trick-infos">
        <h1>{{ trick.name }}</h1>
        {% for group in trick.groups %}
        <p><i>{{ group.name }}</i></p>
        {% endfor %}
        <p>{{ trick.description }}</p>
        {% if app.user %}
            <div>
                <a class="button light-button" href="{{ path('app_trick_edit', { slug: trick.slug, id: trick.id }) }}">✏️</a>
                <a class="button light-button" onclick="return confirm('Êtes-vous certain.e de vouloir supprimer cette figure?');" href="{{ path('app_trick_delete', { slug: trick.slug, id: trick.id }) }}">🗑️</a>
            </div>
        {% endif %}
    </div>
    <a href="{{ path('show_media', {slug: trick.slug, id: trick.id}) }}" class="button" id="see-more">Voir les media</a>
    <div id="other-trick-pictures">
    </div>
    <div id="trick-comments">
        <h4 id="comments-count">
            {% if commentsCount > 1 %}
                {{ commentsCount }} commentaires
            {% elseif commentsCount == 1 %}
                1 commentaire
            {% else %}
                Pas encore de commentaire
            {% endif %}
        </h4>
        
        {% if app.user %}
            <h5>Ajouter un commentaire</h5>
            {{ form(form) }}
        {% else %}
            <p>Pour ajouter un commentaire, veuillez vous connecter.</p>
        {% endif %}

        <div id="trick-comments-show">
            {% for comment in comments %}
                {% include "trick/_comment.html.twig" %}
            {% endfor %}

        </div>
        {% if commentsCount > 10 %}
            {% set pages = commentsCount / 10 %}
            {% for i in 1..pages|round(0, 'ceil') %}
                <a href="{{ path('comments_page', { slug: trick.slug, id: trick.id, page: i }) }}" class="button{{ i == 0 ? ' active' : '' }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}