{% extends 'trick/index.html.twig' %}

{% block trickBody %}
    {# <div>
        {% if trick.media|length %}
            {% if trick.media[0].type == 'picture' %}
                <img src="{{ asset('uploads/media/' ~ trick.media[0].path) }}" alt="photo de montagne enneigée">
            {% elseif trick.media[0].type == 'video' %}
                <iframe width="560" height="315" max-width="100vw" src="{{ trick.media[0].path }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {% endif %}
        {% else %}
            <img src="{{ placeholderPicture }}" alt="photo de montagne enneigée">
        {% endif %}
    </div> #}
    <div id="trick-infos">
        <h1>{{ trick.name }}</h1>
        {% for group in trick.groups %}
        <p><i>{{ group.name }}</i></p>
        {% endfor %}
        <p>{{ trick.description }}</p>
    </div>
    <a href="{{ path('show_media', {slug: trick.slug}) }}" class="button" id="see-more">Voir les media</a>
    <div id="other-trick-pictures">
    </div>
    <div id="trick-comments">
        <div id="trick-comments-show">
            <h4 id="comments-count">
                {% if comments|length > 1 %}
                    {{ comments|length }} commentaires
                {% elseif comments|length == 1 %}
                    1 commentaire
                {% else %}
                    Pas encore de commentaire
                {% endif %}
            </h4>
            
            {% if app.user %}
                <h5>Ajouter un commentaire</h5>
                {{ form(form) }}
            {% else %}
                <p>Pour ajouter un commentaire, veuillez vous connecter.</p>
            {% endif %}
            {% for comment in comments|reverse %}
                {% include "trick/_comment.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}